streamlit
pandas
scikit-learn
numpy
tensorflow
keras
pyngrok
joblib
altair
matplotlib
kaleido
camelot-py[cv]  # Installe camelot-py avec les dépendances nécessaires pour l'analyse d'images (cv2)
pypdf
ghostscript
